<section>
  <main>
    <header class="hero">
      <h1 class="heading">Eat Da Burger</h1>
    </header>
    <section class="burger-list">
      <form action="/api/all-burgers" class="create-burger">
        <label for="new-burger">Enter a Burger</label>
        <br>
        <input type="text" id="new-burger" name="new-burger">
      </form>
    </section>
    <section class="eaten-burgers">

    </section>
  </main>
</section>