<section>
  <main>
    <header class="hero">
      <h1 class="heading">Eat Da Burger</h1>
    </header>
    <section class="uneaten-burgers">
      <form action="/api/all-burgers" class="create-burger">
        <label for="new-burger">Enter a Burger</label>
        <br>
        <input type="text" id="new-burger" name="new-burger">
        <br>
        <button type="submit">Submit Burger</button>
      </form>
      <ul class="burger-list">
        
      </ul>
    </section>
    <section class="eaten-burgers">

    </section>
  </main>
</section>