<section>
  <main>
    <header class="hero">
      <h1 class="heading">Eat Da Burger</h1>
    </header>

    <section class="enter-a-burger">
      <form action="/create" method="POST" class="create-burger">
        <label for="new-burger">Enter a Burger</label>
        <input type="text" id="new-burger" name="burger">
        <button type="submit">Submit Burger</button>
      </form>
    </section>

    <section class="uneaten-burgers">
      <h1>Burgers To Be Eaten</h1>
      <ul class="burger-list">

      </ul>
    </section>
    <section class="eaten-burgers">
      <h1>Eaten Burgers</h1>
      <ul class="devoured">

      </ul>
    </section>
  </main>
</section>