* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  background: #707070;
}

main {
  width: 80%;
  margin: 0 auto;
  padding: 25px;
}

.hero {
  width: 100%;
  height: 400px;
  background: url(../images/burger-hero.jpg) center center no-repeat;
  background-size: cover;
  padding-top: 75px;
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .8);
  text-align: center;
}

h1.heading {
  font-size: 72px;
}

.enter-a-burger {
  position: relative;
}

.create-burger {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.uneaten-burgers, .eaten-burgers {
  display: inline-block;
  width: 49%;
  padding: 25px;
}